body{
  background:#42f4dc;
  margin:0;
}
#info{
  background: #ffffff;
  text-align: center;
  margin:15% 40% 15% 40%;
}
#location{
  font-size: x-large;
}
#time{

}
#icon{
margin: 2% 0 2% 0;
width:auto;

}
#temp{
  font-size: x-large;
}
#desc{

}
